.nav-link {
    font-family: garamond;
    font-size: 21px;
    color: #774224;
    padding: 18px;
    
}

a:hover {
  color: lightgray;
}

.nav-item {
    margin:30px;
}

INDEX PAGE

.no-gutters {
  padding:50px;
}

.col-md-4 {
  padding:50px
}

.card-img {
  max-width: 470px;
  max-height: 620px;
  padding-left: 50px;
}

CONTECT PAGE
.header{
  width: 500px;
  height: 200px;
  margin: auto;
  text-align: center;
  font-family: Georgia;
  color:  rgb(110, 17, 17);
}

