.nav-link {
    font-family: garamond;
    font-size: 21px;
    color: #774224;
    padding: 10px;
    
}

.navbar-expand-lg {
  background-color:rgb(255, 255, 255);
}

a:hover {
  color: lightgray;
}

.nav-item {
    margin:30px;
}

.text-center {
  background-color:rgb(255, 255, 255);
}

CAROUSEL

.carousel-item{
  object-fit:scale-down;
  height: 700px;
}

.d-block{
  position: center;
  width: 100%;
  height: auto;
  padding: 0px
}


INDEX PAGE

.no-gutters {
  padding:50px;
}

.col-md-4 {
  padding:20px;
  padding-top: 0px;
  text-align: center;
  font-family: garamond;
  font-size:45px;
  color:  rgb(110, 17, 17);
  margin: 0px;
}

.card-body {
  font-family: garamond;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.col-md-6 {
  padding: 10px;
  padding-left: 60px;
  margin-left:80px;
  text-align: center;
  align-items: center;
  font-family: garamond;
  font-size: 21px;
  color: #774224;
  padding-top: 40px;
  padding-bottom: 40px;
}


CONTACT PAGE


.col-md-12 {
  text-align: center;
  font-family: georgia ;
}