.nav-link {
    font-family: garamond;
    font-size: 21px;
    color: #774224;
    padding: 18px;
    
}

.navbar-expand-lg {
  background-color:rgb(250, 248, 245);
}

a:hover {
  color: lightgray;
}

.nav-item {
    margin:30px;
}

.text-center {
  background-color:rgb(250, 248, 245);
}

CAROUSEL

.carousel-item{
  object-fit:scale-down;
  height: 700px;
}

.d-block{
  position: center;
  width: 100%;
  height: auto;
  padding: 20px 300px 20px 300px;
  border: 1pc;
  padding: 20px 300px 20px 300px;
  border: 1;
}


INDEX PAGE

.no-gutters {
  padding:50px;
}

.col-md-4 {
  padding: 20px;
  text-align: center;
  font-family: garamond;
  font-size:45px;
  color:  rgb(110, 17, 17);
}

.card-body {
  font-family: garamond;
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

CONTACT PAGE

.header{
  width: 500px;
  height: 200px;
  margin: auto;
  text-align: center;
  font-family: Georgia;
  color:  rgb(110, 17, 17);
}

